In [4]:
n=int(input(""))
i=1
while i<=n:
  print(i)
  i=i+1

10
1
2
3
4
5
6
7
8
9
10

In [6]:
n=int(input(""))
sum=0
while n!=0:
  r=n%10
  sum=sum+r
  n=n//10
print(sum)

123
6

In [7]:
n=int(input(""))
while n!=0:
  print(n%10,end='')
  n=n//10

123
321

In [9]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(1,10+1,2):
  print(i)

1
3
5
7
9

In [15]:
for i in "python":
  print(i)

p
y
t
h
o
n

In [17]:
def addition(a,b):
    c=a+b
    print(c)
addition(1,2)

3

In [27]:
def int(n):
    sum=0
    while n!=0:
      r=n%10
      if r%2==0:
        sum=sum+r
      n=n//10
    return sum
int(1234)

6

In [28]:
def int(n):
    sum=0
    while n!=0:
      r=n%10
      if r%2==0:
        sum=sum+r
      n=n//10
    print(sum)
int(1234)

6

In [30]:
def int(n):
    large=0
    while n!=0:
      r=n%10
      if large <r:
        large=r
      n=n//10
    return large
int(19535)

9

In [35]:
def pali(n):
    sum=0
    num=n
    while n!=0:
        r=n%10
        sum=sum*10+r
        n=n//10
    if sum==num:
       print("palindrome")
    else:
      print("not palindrome")
    return
pali(121)

palindrome